<div class="col-md-4 mb-4">
  <div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
      <%= link_to task.name, scheduled_tasks_ui.task_path(task.name), class: "text-primary text-decoration-none fw-bold" %>
      <% if task.respond_to?(:runs) && task.runs.none? %>
        <span class="badge bg-success">New</span>
      <% end %>
    </div>

    <div class="card-body">
      <% if task.respond_to?(:runs) && task.runs.any? %>
        <% last_run = task.runs.first %>
        <div class="d-flex flex-wrap gap-2">
          <span class="badge bg-info text-dark">
            Dernière exécution: <%= last_run.created_at.strftime("%d %b %Y %H:%M") %>
          </span>
          <span class="badge <%= status_class_bootstrap(last_run.status) %>">
            <%= last_run.status.capitalize %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
